{{! uploadse.mustache }}
{{#display}}
    <h6>{{heading}}</h6>
    <ul>
      {{#results}}
        <li>
          {{#preview}}
            <img src="{{preview}}" title="{{name}}" alt="File to be attached to message" >
            <input type="hidden" name="{{fieldName}}" data-pending-upload="true" value="{{signed_id}}" />
          {{/preview}}
          {{^preview}}{{name}}{{/preview}}
        </li>
      {{/results}}
    </ul>
{{/display}}
