#actions.inquiries {
  form {
    //padding-top: 12px;
    label {
      width: 150px;
      float: left;
      &.required:after {
        content:" *"
      }
    }
    input[type="search"] {
      width: 200px;
    }
    .field {
      margin: 12px 0;
    }
    .actions {
      margin-left: 150px;
      input {
        width: auto;
      }
    }
  }

  li.selected {
    border-color: darken(#b7e3fc, 30%);

  }
}
table#inquiry {
  tr.attachment td {
    position: relative;
    span.actions {position: absolute}
  }
}



