<% content_for :javascripts do %>
  <%#= javascript_include_tag 'refinerycms-inquiries', async: Rails.env.production?, defer: Rails.env.production? %>
<% end %>
<% js_uploader = Refinery::Inquiries.attachments_js_uploader %>
<section class="attachments" >
  <h4 >Attachments</h4 >
  <% if js_uploader %>
    <%= tag.div class: 'js-upload', id: 'js-upload', data: {
      uploader: js_uploader,
      upload_field: 'inquiry[attachments][]'
    } %>
<!--    Attachment file fields should go here-->
    <div class="upload"></div>
  <% else %>
    <div class="upload" >
      <%= f.label :attachments, class: "label attachments" %>
      <%= f.file_field :attachments, multiple: true, id: :attached_files, type: :file, class: :input %>
    </div >
  <% end %>
</section >
